<h1>Editing template one</h1>

<%= render "form", template_one: @template_one %>

<br>

<div>
  <%= link_to "Show this template one", @template_one %> |
  <%= link_to "Back to template ones", template_ones_path %>
</div>
