
<% if comment.body %>
<p><%= comment.user.name %> | <%= comment.body %></p>
<%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment), class: "btn btn-primary btn-sm" %> |
<%= button_to "Delete", [comment.post, comment], method: :delete, class: "btn btn-danger btn-sm" %>
<% end %>