<div id="<%= dom_id app_setting %>">
  <p>
    <strong>Tab name:</strong>
    <%= app_setting.tab_name %>
  </p>

  <p>
    <strong>Theme name:</strong>
    <%= app_setting.theme_name %>
  </p>

</div>
