<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/template_ones">Beta</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
     
      <% if current_user %> 
      <li class="nav-item">
          <a class="nav-link active" href="/posts">Posts
          </a>
          
        </li>
        <li>
        <a class="nav-link" href="/events">Events</a>
        </li>
        <% end %>
        <% if !current_user %><li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <% end %>
        <% if current_user.try(:admin) == true %>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Admin Menu</a>
      <div class="dropdown-menu show " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
        <%= link_to "Set Theme", app_setting_path(@app_setting), class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        
        <a class="dropdown-item" href="/users">Users Menu</a>
        <a class="dropdown-item" href="/events/new">Add Event</a>
      </div>
      </li>
      <% end %>
      <% if current_user%>
      </ul>
      <ul class="navbar-nav ms-md-auto">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true"><%= current_user.name %></a>
      <div class="dropdown-menu show" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
        <%= link_to 'Profile' , user_path(current_user), class: "dropdown-item" %>
        <%= link_to 'Events' , user_path(current_user), class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Log Out</a>
      </div>
      </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
